

h1{
    background-color: green;
    color: black;
    text-align: center;
    text-shadow: 0.2 0.2 blue;
    font-size: 2rem;
    text-transform: capitalize;
    width: 100%;
}
p{
    background-color: lightgreen;
    color: black;
    text-align: center;
    text-shadow: 0.2 0.2 gray;
    font-size: 2rem;
    text-transform: capitalize;
    width: 100%;
}